@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url("https://use.typekit.net/weh8uqg.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
  margin: 0;
  font-family: "Open Sans", "league-gothic", "league-gothic-condensed" , "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
